@media (max-width: 1050px){
    .menu{
        font-size: 17px;
    }
    .menu li{
        margin: 0 40px 0 10px;
    }
}
@media (max-width: 900px){
    .menu {
        font-size: 15px;
    }
    .menu li{
        margin: 0 30px 0 7px;
    }
 
}
@media (max-width: 750px){
    .hambur {
        display: block;
        z-index: 1;
    }
    .menu{
        font-size: 20px;
        position: fixed;
        top: 40px;
        left: 0;
        width: 100vw;
        height: 0;
        overflow: hidden;
        background: #1900ff;
        flex-direction: column;
        justify-content: space-around;
        transition: 1s;
    }
    .div-menu.abrir-menu .menu{
        height: 90vh;
    }
    .div-menu.abrir-menu .hambur{
        position: fixed;
        top: 26px;
        left: 16px;
        border-top-color: transparent;
    }
    .div-menu.abrir-menu .hambur::before{
        transform: rotate(135deg);
    }
    .div-menu.abrir-menu .hambur::after{
        transform: rotate(-135deg);
        top: -7px;
    }
}